$fs:18px;

@mixin flexIt{
    display:flex;
    align-items: center;
    justify-content: center;
}

@import './index.scss';
@import './Login/login.scss';
@import './SignUp/signup.scss';
@import './Dashboard/dashboard.scss';

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html, body {

    margin:0;
    width:100%;
    height:100%;
    font-family:Roboto;

}
    
#__next {
    height:100%;
    width:100%;
}
